<div class="m-grid-item m-aside-left">
  <div class="m-aside-menu">

    <ul class="m-menu-nav">

      <!-- # -->
      <li class="m-menu-item">
        <a href="#" class="m-menu-link">
          <i class="m-menu-link-icon flaticon-line-graph"></i>
          <span class="m-menu-link-title">
            <span class="m-menu-link-wrap">
              <span class="m-menu-link-text">Dashboard</span>
            </span>
          </span>
        </a>
      </li>

      <!-- # Section -->
      <li class="m-menu-section">
        <h4 class="m-menu-section-text">Components</h4>
        <i class="m-menu-section-icon flaticon-more-v3"></i>
      </li>

    </ul>

  </div>
</div>