<div class="m-grid-item m-aside-left">
  <div class="m-aside-menu">

    <ul class="m-menu-nav m-menu-nav-dropdown-submenu-arrow">

      <%
      ################################
      #        Dashboard Link        #
      ################################
      %>
      <li class="m-menu-item">
        <a href="#" class="m-menu-link">
          <i class="m-menu-link-icon flaticon-line-graph"></i>
          <span class="m-menu-link-title">
            <span class="m-menu-link-wrap">
              <span class="m-menu-link-text">Dashboard</span>
            </span>
          </span>
        </a>
      </li>

      <%
      ################################
      #           Sub Menu           #
      ################################
      %>
      <!-- # Section -->
      <li class="m-menu-section">
        <h4 class="m-menu-section-text">Components</h4>
        <i class="m-menu-section-icon flaticon-more-v3"></i>
      </li>

      <%
      ################################
      #           Level 1           #
      ################################
      %>

      <!-- # Link 1 -->
      <li class="m-menu-item m-menu-item-submenu m-menu-item-expanded m-menu-item-open m-menu-item-hover">

        <!-- # -->
        <a href="javascript:;" class="m-menu-link">
          <i class="m-menu-link-icon flaticon-layers"></i>
          <span class="m-menu-link-text">Base</span>
          <i class="m-menu-ver-arrow la la-angle-right"></i>
        </a>

        <!-- # Sub menu -->
        <div class="m-menu-submenu">
          <span class="m-menu-arrow"></span>
          <ul class="m-menu-subnav">

            <!-- # -->
            <li class="m-menu-item m-menu-item-active">
              <a href="#" class="m-menu-link ">
                <i class="m-menu-link-bullet m-menu-link-bullet-dot">
                  <span></span>
                </i>
                <span class="m-menu-link-text">State Colors</span>
              </a>
            </li>

            <!-- # -->
            <li class="m-menu-item m-menu-item-submenu m-menu-item-expanded m-menu-item-hover">

              <!-- # -->
              <a href="javascript:;" class="m-menu-link">
                <i class="m-menu-link-bullet m-menu-link-bullet-dot">
                  <span></span>
                </i>
                <span class="m-menu-link-text">Typography</span>
                <i class="m-menu-ver-arrow la la-angle-right"></i>
              </a>

              <%
              ################################
              #           Level 2           #
              ################################
              %>
              <!-- # Sub Menu Level 2 -->
              <div class="m-menu-submenu">
                <span class="m-menu-arrow"></span>
                <ul class="m-menu-subnav">

                  <!-- # -->
                  <li class="m-menu-item">
                    <a href="#" class="m-menu-link ">
                      <i class="m-menu-link-bullet m-menu-link-bullet-dot">
                        <span></span>
                      </i>
                      <span class="m-menu-link-text">Flaticon</span>
                    </a>
                  </li>

                  <!-- # -->
                  <li class="m-menu-item">
                    <a href="#" class="m-menu-link">
                      <i class="m-menu-link-bullet m-menu-link-bullet-dot">
                        <span></span>
                      </i>
                      <span class="m-menu-link-text">State Colors</span>
                    </a>
                  </li>

                </ul>
              </div>

            </li>


          </ul>
        </div>

      </li>

      <!-- # Link 2 -->
      <li class="m-menu-item m-menu-item-submenu">

        <!-- # -->
        <a href="javascript:;" class="m-menu-link">
          <i class="m-menu-link-icon flaticon-share"></i>
          <span class="m-menu-link-text">Icons</span>
          <i class="m-menu-ver-arrow la la-angle-right"></i>
        </a>

        <!-- # Sub menu -->
        <div class="m-menu-submenu">
          <span class="m-menu-arrow"></span>
          <ul class="m-menu-subnav">

            <!-- # -->
            <li class="m-menu-item">
              <a href="#" class="m-menu-link ">
                <i class="m-menu-link-bullet m-menu-link-bullet-dot">
                  <span></span>
                </i>
                <span class="m-menu-link-text">Flaticon</span>
              </a>
            </li>

            <!-- # -->
            <li class="m-menu-item">
              <a href="#" class="m-menu-link">
                <i class="m-menu-link-bullet m-menu-link-bullet-dot">
                  <span></span>
                </i>
                <span class="m-menu-link-text">State Colors</span>
              </a>
            </li>

            <li class="m-menu-item m-menu-item-submenu m-menu-item-expanded">

              <!-- # -->
              <a href="javascript:;" class="m-menu-link">
                <i class="m-menu-link-bullet m-menu-link-bullet-dot">
                  <span></span>
                </i>
                <span class="m-menu-link-text">Typography</span>
                <i class="m-menu-ver-arrow la la-angle-right"></i>
              </a>

              <%
              ################################
              #           Level 2           #
              ################################
              %>
              <!-- # Sub Menu Level 2 -->
              <div class="m-menu-submenu">
                <span class="m-menu-arrow"></span>
                <ul class="m-menu-subnav">

                  <!-- # -->
                  <li class="m-menu-item">
                    <a href="#" class="m-menu-link ">
                      <i class="m-menu-link-bullet m-menu-link-bullet-dot">
                        <span></span>
                      </i>
                      <span class="m-menu-link-text">Flaticon</span>
                    </a>
                  </li>

                  <!-- # -->
                  <li class="m-menu-item">
                    <a href="#" class="m-menu-link">
                      <i class="m-menu-link-bullet m-menu-link-bullet-dot">
                        <span></span>
                      </i>
                      <span class="m-menu-link-text">State Colors</span>
                    </a>
                  </li>

                </ul>
              </div>

            </li>

          </ul>
        </div>

      </li>

      <!-- # Link 3 -->
      <li class="m-menu-item m-menu-item-submenu">

        <!-- # -->
        <a href="javascript:;" class="m-menu-link">
          <i class="m-menu-link-icon flaticon-interface-1"></i>
          <span class="m-menu-link-text">Protlets</span>
          <i class="m-menu-ver-arrow la la-angle-right"></i>
        </a>

        <!-- # Sub menu -->
        <div class="m-menu-submenu">
          <span class="m-menu-arrow"></span>
          <ul class="m-menu-subnav">

            <!-- # -->
            <li class="m-menu-item">
              <a href="#" class="m-menu-link ">
                <i class="m-menu-link-bullet m-menu-link-bullet-dot">
                  <span></span>
                </i>
                <span class="m-menu-link-text">Scrolling</span>
              </a>
            </li>

            <!-- # -->
            <li class="m-menu-item">
              <a href="#" class="m-menu-link">
                <i class="m-menu-link-bullet m-menu-link-bullet-dot">
                  <span></span>
                </i>
                <span class="m-menu-link-text">Locked Columns</span>
              </a>
            </li>


          </ul>
        </div>

      </li>

    </ul>

  </div>
</div>