<footer class="m-grid-item m-footer">
  <div class="m-container m-container-fluid m-container-full-height m-page-container">
    <div class="m-stack m-stack-flex-tablet-and-mobile m-stack-ver m-stack-desktop">

      <!-- # Copyright -->
      <div class="m-stack-item m-stack-item-left m-stack-item-middle m-stack-item-last">
				<span class="m-footer-copyright">
					2017 © Metronic theme by
					<a href="#" class="m-link">
						Keenthemes
					</a>
				</span>
      </div>

      <!-- # Links -->
      <div class="m-stack-item m-stack-item-right m-stack-item-middle m-stack-item-first">
        <ul class="m-footer-nav m-nav m-nav-inline m-pull-right">

          <!-- # -->
          <li class="m-nav-item">
            <a href="#" class="m-nav-link">
							<span class="m-nav-link-text">
								About
							</span>
            </a>
          </li>

          <!-- # -->
          <li class="m-nav-item">
            <a href="#" class="m-nav-link">
							<span class="m-nav-link-text">
								Privacy
							</span>
            </a>
          </li>

          <!-- # -->
          <li class="m-nav-item">
            <a href="#" class="m-nav-link">
							<span class="m-nav-link-text">
								T&amp;C
							</span>
            </a>
          </li>

          <!-- # -->
          <li class="m-nav-item">
            <a href="#" class="m-nav-link">
							<span class="m-nav-link-text">
								Purchase
							</span>
            </a>
          </li>


        </ul>
      </div>

    </div>
  </div>
</footer>