<header class="m-header">
  <div class="m-container">
    <div class="m-stack">

      <!-- # Brand -->
      <div class="m-stack-item m-brand"></div>

      <!-- Menu -->
      <div class="m-stack-item m-stack-item-fluid"></div>

    </div>
  </div>
</header>