<header class="m-header">
  <div class="m-container">
    <div class="m-stack">

      <!-- # Brand -->
      <div class="m-stack-item m-brand">
        <div class="m-stack m-stack-general">

          <!-- # Logo-->
          <div class="m-stack-item m-stack-item-middle">
            <a href="#" class="m-brand-logo">
              <img src="<%= asset_pack_path '_/assets/images/backend/logos/logo-default-dark.png' %>"/>
            </a>
          </div>

          <!-- # Brand Tools -->
          <div class="m-stack-item m-stack-item-middle m-brand-tools">
            <a href="" class="m-brand-icon m-brand-toggler">
              <span></span>
            </a>
          </div>

        </div>
      </div>

      <!-- Menu -->
      <div class="m-stack-item m-stack-item-fluid m-header-head"></div>

    </div>
  </div>
</header>