/**
*
*
* Body
*
*
*/
.m-body {
  .m-content {
    padding: 30px 30px;
  }
  .m-wrapper {
    overflow: hidden;
  }
}

/**
*
*
* Responsive
*
*
*/
@include tablet-and-mobile() {

  .m-body {
    .m-content {
      padding: 20px;
    }
  }

}