/**
*
*
* Header
*
*
*/
.m-container {
  position: relative;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  height: 100%;
  margin-right: auto;
  margin-left: auto;
  &:before, &:after {
    content: " ";
    display: table;
  }
}

.m-stack {
  display: block;
  width: 100%;
  height: 100%;

  > .m-stack-item {
    display: block;
    height: auto;
  }

}

.m-brand {
  background: #282a3c;
  transition: all 0.3s ease;
  height: 70px;
  width: 300px;
  padding: 0 30px;
}


/**
*
*
* Responsive
*
*
*/
@include responsive-above(993px) {

  .m-header {
    position: fixed;
    z-index: 101;
    top: 0;
    right: 0;
    left: 0;
    height: 70px;
    background: #fff;
    backface-visibility: hidden;
  }

  .m-stack {
    display: table;
    table-layout: fixed;
    > .m-stack-item {
      display: table-cell;
      vertical-align: top;
      height: 100%;
      &.m-stack-item-fluid {
        width: 100%;
      }
    }
  }

}


@include tablet-and-mobile() {
  .m-header {
    position: fixed;
    z-index: 101;
    top: 0;
    right: 0;
    left: 0;
    height: 60px;
    background: #fff;
    backface-visibility: hidden;
  }
}