/**
*
*
* Header
*
*
*/
.m-container {
  position: relative;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  height: 100%;
  margin-right: auto;
  margin-left: auto;
  &:before, &:after {
    content: " ";
    display: table;
  }
}

.m-stack {
  display: block;
  width: 100%;
  height: 100%;

  > .m-stack-item {
    display: block;
    height: auto;
  }

  .m-stack-general {
    display: table;
    table-layout: fixed;
    > .m-stack-item {
      display: table-cell;
      vertical-align: top;
      height: 100%;
    }
    > .m-stack-item-middle {
      vertical-align: middle;
    }
  }

}

.m-brand {
  background: $dark_blue;
  transition: all 0.3s ease;
  height: 70px;
  width: 300px;
  padding: 0 30px;
  .m-brand-logo {
    display: inline-block;
    .m-brand-logo-wrapper {
      display: inline-block;
    }
  }
  .m-brand-tools {
    line-height: 0;
    vertical-align: middle;
    text-align: right;

    .m-brand-icon {
      display: inline-block;
      line-height: 0;
      vertical-align: middle;
      cursor: pointer;
        &:hover {
          text-decoration: none;
        }
      }

    .m-brand-toggler {
      display: inline-block;
      position: relative;
      overflow: hidden;
      margin: 0;
      padding: 0;
      width: 26px;
      height: 26px;
      font-size: 0;
      text-indent: -9999px;
      appearance: none;
      box-shadow: none;
      border-radius: 0;
      border: none;
      cursor: pointer;
      background: none;
      outline: none !important;
      transition: all 0.4s ease;

      &.m-brand-toggler-active {
        span, span:before, span:after {
          background: $light_blue_2;
        }
        span {
          &:before {
            transition: all 0.4s ease;
            left: 0;
            right: auto;
            width: 50%;
          }
          &:after {
            transition: all 0.4s ease;
            left: 0;
            right: auto;
            width: 75%;
          }
        }
      }

      &:hover {
        span, span:after, span:before {
          background: $light_blue_2;
          width: 100%;
        }
      }

      span {
        display: block;
        position: absolute;
        top: 13px;
        height: 1px;
        min-height: 1px;
        width: 100%;
        border-radius: 0;
        transition: all 0.4s ease;
        background: $blue_light;

        &:before {
          left: auto;
          right: 0;
          top: -7px;
          width: 50%;
          transition: all 0.4s ease;
        }
        &:after {
          left: auto;
          right: 0;
          bottom: -7px;
          width: 75%;
          transition: all 0.4s ease;
        }

        &:before, &:after {
          background: $blue_light;
          position: absolute;
          display: block;
          height: 1px;
          min-height: 1px;
          content: "";
          border-radius: 0;
          transition: all 0.4s ease;
        }
      }

    }
  }
}

.m-top-bar {
  width: auto;
  height: 100%;
  float: right;
  padding: 0;
  transition: all 0.6s ease;
}


/**
*.m-brand .m-brand-logo, .m-brand .m-brand-tools
*
* Responsive
*
*
*/

// 993px
@include responsive-above(993px) {

  .m-header {
    position: fixed;
    z-index: 101;
    top: 0;
    right: 0;
    left: 0;
    height: 70px;
    background: #fff;
    backface-visibility: hidden;
    .m-header-head {
      box-shadow: 0 1px 15px 1px rgba(113, 106, 202, 0.1);
    }
  }

  .m-stack {
    display: table;
    table-layout: fixed;
    > .m-stack-item {
      display: table-cell;
      vertical-align: top;
      height: 100%;
      &.m-stack-item-fluid {
        width: 100%;
      }
    }
  }

  .m-header-menu {
    width: auto;
    float: left;
    display: table;
    height: 100%;
    margin: 0 0 0 10px;
  }

  .m-brand-minimize {
    .m-brand {
      transition: all 0.3s ease;
      width: 70px;
      padding-left: 0;
      padding-right: 0;
      .m-brand-logo {
        display: none !important;
      }
      .m-brand-tools {
        text-align: center;
      }
    }
  }
}

@include tablet-and-mobile() {
  .m-header {
    position: fixed;
    z-index: 101;
    top: 0;
    right: 0;
    left: 0;
    height: 60px;
    background: #fff;
    backface-visibility: hidden;
  }
  .m-brand {
    width: 100%;
    position: relative;
    height: 60px !important;
    padding: 0 25px;
    z-index: 2;
  }
  .m-header-menu {
    display: none;
  }
  .m-top-bar {
    top: -50px;
    width: 100% !important;
    transition: all 0.3s ease;
    height: 50px !important;
    margin-top: -50px;
    position: relative;
    background-color: #fff;
    box-shadow: 0 3px 12px 0 rgba(0, 0, 0, 0.1);
  }

}

@include minimal-desktop(){
  .m-top-bar {
    padding: 0;
  }
}