/**
*
*
* Config
*
*
*/

//
// Layouts
// Define the minimum and maximum dimensions at which your layout will change,
// adapting to different screen sizes, for use in media queries.
$layout-size: (

  // Small screen / phone
  sm: 576px,

  // Medium screen / tablet
  md: 768px,

  // Large screen / desktop
  lg: 992px,

  // Extra large screen / wide desktop
  xl: 1200px,

  // Extra large screen / wide desktop
  xxl: 1400px,

  xxxl: 1600px
) !default;

//
//
// Colors

// Bootstrap
$link-color: #716aca;
$link-hover-color: #2739c1;

//
$focus: #9816f4;
$danger: #f4516c;
$light_gray: #bdc3d4;
$light_blue: #7281a4;
$light2: #f2f3f8;
$blue_light: #5d5f77;
$dark_blue: #282a3c;

//
$dark_aside: #2c2e3e;
$link_aside: #868aa8;
$icon_hover_aside: #8c8ea4;
$list_hover_aside: #292b3a;
$icon_aside: #525672;
$section_title_aside: #464b66;
$submenu_link: #686c89;
