/**
*
*
* Config
*
*
*/

//
// Layouts
// Define the minimum and maximum dimensions at which your layout will change,
// adapting to different screen sizes, for use in media queries.
$layout-size: (

  // Small screen / phone
  sm: 576px,

  // Medium screen / tablet
  md: 768px,

  // Large screen / desktop
  lg: 992px,

  // Extra large screen / wide desktop
  xl: 1200px,

  // Extra large screen / wide desktop
  xxl: 1400px,

  xxxl: 1600px
) !default;

//
//
// Colors
$focus: #9816f4;
$brand: #716aca;
$light_blue_2: #716aca;
$danger: #f4516c;
$light_gray: #bdc3d4;
$light_blue: #7281a4;
$light2: #f2f3f8;
$blue_light: #5d5f77;
$dark_blue: #282a3c;