/**
*
*
* Config
*
*
*/
// Define the minimum and maximum dimensions at which your layout will change,
// adapting to different screen sizes, for use in media queries.
$m--layout-breakpoints: (
  // Small screen / phone
  sm: 576px,

  // Medium screen / tablet
  md: 768px,

  // Large screen / desktop
  lg: 992px,

  // Extra large screen / wide desktop
  xl: 1200px,

  // Extra large screen / wide desktop
  xxl: 1400px,

  xxxl: 1600px
) !default;