<!DOCTYPE html>
<html>
<head>
  <title>myApp - Backend</title>
  <meta name="viewport" content="width=device-width, user-scalable=no">

  <%= csrf_meta_tags %>
  <%= stylesheet_pack_tag 'backend' %>
  <%= javascript_pack_tag 'backend' %>

</head>

<body>

  <!-- # Content -->
  <%= yield %>

</body>
</html>